.container {
    fill: var(--header-text);
    height: 1.5em;
    width: 1.5em;
   margin: 0 auto;
    border-radius: 50%;
    align-self: center;
    
    
}

.colorButton {
    grid-column-start: 4;
   font-size: 12px;
    background-color: var(--header-background-color);
    width: 2.6em;
    height: 2.6em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    margin: 0.4em;
    margin-right:0;
    margin-left: .3em;
    padding-top: 0.3em;
    margin-top: .4rem;
    height: 2.6em;
    border: 2px solid var(--header-text);
    position: relative;
    z-index: 10;
    text-align: center;
        background-color: var(--header-text);
    &:hover {
        background-color: var(--main-background-color);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
        position: relative;
        * {
            fill: var(--header-background-color);
        }
    }
}
.list {
    margin-top: 0.3em;
    background-color: var(--main-background-color);
    width: 2.6em;
    border: 2px solid var(--header-text);
    border-top: 0px;
    margin-left: -2px;
    visibility: hidden;
    text-align: center;
}
.open {
    visibility: visible;
    background-color: var(--main-background-color);
}
.hoverDiv {
    &:hover {
        background-color: var(--header-text);
    }
}
