.cardContainer{display: grid;
width: 100%;
min-width: 364px;
justify-items: center;
align-content: space-between;
background-color: var(--dark-header-text);
margin: 1rem;
min-height: 300px;

}

.titleSvg{height: 1rem;
width: 2rem;}

.listTitle{
    max-width: 300px;
    width: 100%;
    min-width: 200px;
    margin: 1rem;
    display: flex;
    justify-content:flex-end;
    min-height: 3rem;
    color: var(--header-text);
    background-color:  var(--darker-header-background-color);
    padding: .5rem;
    overflow: hidden;
    padding-right: 1rem;
}
.needsRoom{
    
width: 85%;
min-height: 300px;
}
.titleButton {
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--darker-header-background-color);
    background-color: var(--header-text);
    justify-self: end;
    &:hover {
        border: solid var(--header-background-color) 1px;
    background-color: var(--darker-header-text);
    cursor: pointer;
    }
}
.deleteButton{
    height: 1.8rem;
    width: 1.8rem;
}

.input{
    height: 2rem;
    font-size: 1.5rem;
    max-width: 60%;
}
.h2{
    font-size: 1.5rem;
    justify-self: flex-start;
}
.add{margin: 1rem;
width: 2rem;
height: 2rem;
font-weight: bold;

background-color: var(--header-text);
&:hover{
background-color: var(--darker-header-text) ;
cursor: pointer;
}
}