.container {
    fill: var(--header-text);
    height: 1rem;
    width: 1rem;
    margin: 0 0.3rem;
    border-radius: 50%;
    align-self: start;
    display: block;

  
    &:hover {
        fill: var(--header-background-color);
        cursor: pointer;
    }
}

.hoverDiv {
    padding: .3rem 0rem;
    background-color: var(--sublist-background-color);
    &:hover {
        cursor: default;
        background-color: var(--header-text);
    }
}
