:root {
  --header-background-color: white;
  --sublist-background-color: hsl(7, 48%, 59%);
  --main-background-color: hsl(24, 100%, 92%);
  --content-background-color: hsl(24, 100%, 92%);
  --header-text: black;
  --casual-code: hsl(143, 81%, 71%);
  --warn-code: hsl(49, 90%, 62%);
  --urgent-code: hsl(345, 93%, 22%);
  --theme-dir: left;
  font-size: 12px;
  color: inherit;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media (prefers-color-scheme: dark){
    
    --header-background-color: hsl(233, 40%, 4%);
    --sublist-background-color: hsl(7, 48%, 59%);
    --main-background-color: hsl(356, 15%, 19%);
    --content-background-color: hsl(356, 15%, 19%);
    --header-text: hsl(0, 0%, 100%);
    --casual-code: hsl(143, 77%, 12%);
    --warn-code: hsl(39, 90%, 19%);
    --urgent-code: hsl(352, 89%, 18%);
    --theme-dir: right;
}
}

html {
  background-color: var(--main-background-color);
}
html,
body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-color: transparent;
  border-image: none;
  border-image-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  outline: none;
  outline-color: transparent;
  scroll-behavior: smooth;
  fill: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style-type: none;
}
