 
:root{--body-background-color:    hsla(0, 9%, 12%);
       --header-text: hsla(0, 9%, 75%);
       --darker-header-text: hsla(0, 9%, 50%);
       --darker-header-background-color: hsla(0, 9%, 7%);
       --header-background-color:hsla(0, 9%, 4%, 1);
       --list-header-background-color:  hsla(0, 9%, 9%);
       --dark-header-text:hsla(0, 9%, 25%);
       font-size: 12px;
       color: inherit;
       @media screen and (min-width: 768px) {
         font-size: 16px;
       }
      }
html{
  background-color: var(--main-background-color);}
 html,
body {
  overflow-x: hidden;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*{box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-color: transparent;
  border-image: none;
  border-image-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  outline: none;
  outline-color: transparent;
  scroll-behavior: smooth;
  fill: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style-type: none;
}
