 
:root{--body-background-color:    hsla(0, 9%, 12%);
       --header-text: hsla(0, 9%, 75%);
       --darker-header-text: hsla(0, 9%, 50%);
       --darker-header-background-color: hsla(0, 9%, 7%);
       --header-background-color:hsla(0, 9%, 4%, 1);
       --list-header-background-color:  hsla(0, 9%, 9%);
       --dark-header-text:hsla(0, 9%, 25%);
       font-size: 16px;
       color: inherit;
      }
html{
  background-color: var(--body-background-color);}
 html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
*{box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style-type: none;
}
button{border: none;}
