.entirePage{ min-height: 100vh;
display: grid;
align-content: start;}
.saveIcon {
    height: 3.7rem;
    &:hover{}
    
&:active{background-color: var(--darker-header-text);}
}
.save{
    aspect-ratio: 1;
    background-color: var(--header-background-color);
    fill: var(--header-text);
    *{background-color: inherit; 
    fill: inherit;}
    &:hover{cursor: pointer;
        cursor: pointer;
    background-color: var(--header-text) ;
    fill: var(--header-background-color);
    background-color: var(--header-text) ;
&:active{background-color: var(--darker-header-text);}}
    

}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.list {
    display: flex;
    list-style: none;
    padding-top: 20px;
}

.listHeader {
    align-items: center;
    position: sticky;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: .75rem;
    margin-right: 10rem;
    background-color: var(--main-background);
    border-bottom: 5px solid var(--header-background-color);
}
.h2{
  line-height: 1.5 rem;
  margin:1rem 0.6rem ;
  color: var(--header-text);
    
}
.date{color: var(--header-text);
}
.listItem{margin:.5rem;
height: min-content;
width: 350px;
max-width: 70vw;
@media (min-width: 500){
    margin: 2rem;
}
}
.main{height: 86.5vh;
    max-height: 79vh;
    @media (min-width: 500){
        padding: 2rem;
    }
    overflow-x: scroll;}
.flexWrapper{
    display: flex;
    min-width: 1000px;
}
.addList{
    height: 200px;
    min-width: 364px;
    justify-items: center;
    background-color: var(--sublist-background-color);
    margin: 38px 3rem 0 3rem;
    display: grid;
    justify-content: center;
    align-content: center;
    
    }
    .button
    {
    color: var(--header-background-color);
    font-weight: bold;
        background-color: var(--header-text);
        width: 2rem;
    height: 2rem;
&:hover{
    background-color: var(--main-background-color) ;
    color: var(--header-text);
    box-shadow: 0px 0px 2px 2px var(--header-text);
    cursor: pointer;
}}